<section class="card" [class.racing]="race.isRacing" >
  <div class="panel-body">
    <div class="photo">
      <img [src]="race.image" [alt]="race.imageDescription">
    </div>
    <div class="race-info container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h3><a [routerLink]="['/races',race.id]">{{race.name}}</a></h3>
          <p class="date">{{castDate(race.date) | date:'MMM d, y, h:mma'}}</p>
          <p class="description">{{race.about}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p class="price">{{race.entryFee | currency:'USD':true}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 center-block">
            
            <div  class="center-block">              
              <div *ngIf="race.isRacing" >
                  <div class="center-block">
                      <p class="status">Racing</p>
                    </div>
                  <button class="btn btn-danger center-block" (click)="cancelRace()">Cancel Race</button>
              </div>  
              <div *ngIf="!race.isRacing" >
                  <div class="center-block">
                      <p class="status">Not racing</p>
                    </div>
                  <button class="btn btn-primary center-block" *ngIf="!race.isRacing" (click)="enterRace()">Enter Race</button>
              </div>            
            </div>         
        </div>
      </div>
    </div>
  </div>
</section>